# Review
In this exercise we will review the following topics from the first half of the semester:
1.   Python data types and operations
2.   List & Dictionary
3.   For loop
4.   If-else statement
5.   Python function
6.   Read and write to file

You are given a text file "data.txt" that contains a list of students and their exam scores, in the following format:

![data.PNG]()

Write a Python program that reads in the data from the file and performs the following tasks:

*   Calculate the average score of all students.
*   Create a new file "passed.txt" that contains the name and score of all students who scored 70 or above.
*   Create a new file "failed.txt" that contains the name and score of all students who scored below 70.
*   Create a function that takes a name and returns the student's score. If the name is not found, the function should return "-1".

The solution must implements the following requirements:
*   Use the split() method to separate each line into name and score.
*   Use a list to store the names and scores of all students.
*   Use a dictionary to store the names and scores of only the passing or failing students.
*   Use a for loop to iterate over the list of students and calculate the average score
*   Use if-else statements to determine which file to write each student's information to.
*   Use functions to modularize your code and make it easier to read and debug.

In [117]:
# Functions declaration starts here ========>

In [118]:
# Instruction for read_data() function
# create a function named read_data() taking the "file_name" as a parameter to read the content from the file and store the students' name and scores in a list
# function name: read_data()
# function parameter: file_name
# function body: 
#   use with open() in read mode 
#   use readlines() read the content from file and store the content in a variable named lines
#   use a for loop to iterate each line in lines
#     use split() to separate each line into name and score
#     append name and score to students list, please make sure to cast score to int data type before adding to the list
#   returns students list

In [120]:
# Instruction for calculate_average_score function
# create a function named calculate_average_score() taking the "students" list as a parameter and calculate the average score of all students in student list
# function name: calculate_average_score()
# function parameter: students
# function body: 
#  use a for loop to iterate through every student in students and calculate the total score of all students (hint: score can be access using index 1 e.g. student[1])
#  calculate the avarage by dividing the sum by the total number of students (hint: use len() to get the total numbers of students)
#  return average score

In [128]:
# Your main program starts here ===========>

In [129]:
# Make a function call to read_data("data.txt") function to read data from "data.txt" and store the return data list a variable named "students"

In [131]:
# Make a function call to calculate_average_score(students) function to calculate the average score of the students lists passed into the function and store the return value in a variable named "average"

In [133]:
# print the average

71.42857142857143

In [ ]:
#Write a program that asks the user to input a number between 1 and 10. 
#The program should then print the square of that number. 
#However, if the user enters a number outside of the range or a non-numeric value, the program should print an error message and ask the user to try again.

In [ ]:
#Expected output:
#Enter a number between 1 and 10: 0
#Error: Invalid input. Please enter a number between 1 and 10.
#Enter a number between 1 and 10: abc
#Error: Invalid input. Please enter a number between 1 and 10.
#Enter a number between 1 and 10: 5
#The square of 5 is 25
#