# This exercise will help you practice using SQLite database to store and retrieve students and course information:

In [ ]:
# Run the given scripts below to create a new SQLite Database called `school.db`. Alternatively,
# you can manually create the database from SQLite GUI, then drag and drop the database to the Files section and connect to it.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('school.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        email TEXT NOT NULL UNIQUE
    )
''')

c.execute('''
    CREATE TABLE IF NOT EXISTS courses (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        code TEXT NOT NULL UNIQUE,
        description TEXT NOT NULL
    )
''')

conn.commit()

conn.close()

## Students - Add/Get/Update/Delete Functions

In [ ]:
# function to add a new student to the database
# function name: add_student()
# function params: name, age, email
# INSERT statement

In [ ]:
# function to get all students from the database
# function name: get_students()
# function params: no param needed
# SELECT statement
# fetchall()

In [ ]:
# function to get student by id
# function name: get_student_by_id()
# function params: id
# SELECT ... WHERE statement
# fetchone()

In [ ]:
# function to update a student in the database
# function name: update_student()
# function params: id, name, age, email
# UPDATE statement

In [ ]:
# function to delete a student from the database
# function name: delete_student()
# function params: id
# DELETE statement