# This exercise will help you practice using SQLite database to store and retrieve students and course information:

In [ ]:
# Add your name and student ID below:
# Maziar Sojoudian 10112131
# Run the given scripts below to create a new SQLite Database called `books.db`. Alternatively,
# you can manually create the database from SQLite GUI, then drag and drop the database to the Files section and connect to it.

In [4]:
import sqlite3

In [5]:
import sqlite3

# Connect to the books database (it will be created if it doesn't exist)
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Create a table for books
c.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY,
        title TEXT NOT NULL,
        author_id INTEGER NOT NULL,
        isbn TEXT NOT NULL UNIQUE,
        publication_year INTEGER NOT NULL,
        FOREIGN KEY (author_id) REFERENCES authors(id) ON DELETE CASCADE
    )
''')

# Create a table for authors
c.execute('''
    CREATE TABLE IF NOT EXISTS authors (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        birth_year INTEGER,
        nationality TEXT
    )
''')

# Create a table for genres (optional, if you want to track book genres)
c.execute('''
    CREATE TABLE IF NOT EXISTS genres (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL UNIQUE
    )
''')

# Create a table for book-genre relationships (optional, for many-to-many relationships between books and genres)
c.execute('''
    CREATE TABLE IF NOT EXISTS book_genres (
        book_id INTEGER NOT NULL,
        genre_id INTEGER NOT NULL,
        PRIMARY KEY (book_id, genre_id),
        FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE,
        FOREIGN KEY (genre_id) REFERENCES genres(id) ON DELETE CASCADE
    )
''')

# Commit the changes and close the connection to the database
conn.commit()
conn.close()

## Books - Add/Get/Update/Delete Functions

In [ ]:
# function to add a new book to the database
# function name: add_book()
# function params: title, author_id, isbn, publication_year
# INSERT statement

In [7]:


# Example usage
#add_book('Example Book Title', 1, '123-4567890123', 2024)

Book added successfully.

In [ ]:
# function to get all book from the database
# function name: get_books()
# function params: no param needed
# SELECT statement
# fetchall()

In [8]:


# Example usage
#books = get_books()
#for book in books:
#    print(book)

(1, 'Example Book Title', 1, '123-4567890123', 2024)

In [ ]:
# function to get book by id
# function name: get_book_by_id()
# function params: id
# SELECT ... WHERE statement
# fetchone()

In [15]:


# Example usage
# book_id = 1
# book = get_book_by_id(book_id)
# if book:
#     print(book)
# else:
#     print("No book found with the given ID.")
#

(1, 'New Title', 2, '123-4567890123', 2024)

In [ ]:
# function to delete a student from the database
# function name: delete_book()
# function params: id
# DELETE statement

In [16]:
import sqlite3

def delete_book(book_id):
    # Connect to the existing books database
    conn = sqlite3.connect('books.db')
    c = conn.cursor()

    # Prepare the delete statement to remove a book by its ID
    delete_sql = 'DELETE FROM books WHERE id = ?'

    try:
        # Execute the delete statement with the provided book ID
        c.execute(delete_sql, (book_id,))

        # Commit the changes to the database
        conn.commit()

        # Check if the delete was successful by checking the rowcount
        if c.rowcount > 0:
            print("Book deleted successfully.")
        else:
            print("No book found with the given ID.")
    except Exception as e:
        # Handle any unexpected errors
        print(f"An error occurred: {e}")
    finally:
        # Close the connection to the database
        conn.close()

# Example usage
# delete_book(1)

In [ ]:
# function to update a book in the database
# function name: update_book()
# function params: title, author_id, isbn, publication_year
# UPDATE statement

In [14]:
import sqlite3

def update_book(isbn, title, author_id, publication_year):
    # Connect to the existing books database
    conn = sqlite3.connect('books.db')
    c = conn.cursor()

    # Prepare the update statement to update book details
    update_sql = '''
    UPDATE books
    SET title = ?, author_id = ?, publication_year = ?
    WHERE isbn = ?
    '''

    try:
        # Execute the update statement with the provided details
        c.execute(update_sql, (title, author_id, publication_year, isbn))

        # Commit the changes to the database
        conn.commit()

        # Check if the update was successful by checking the rowcount
        if c.rowcount > 0:
            print("Book updated successfully.")
        else:
            print("No book found with the given ISBN.")
    except sqlite3.IntegrityError as e:
        # Handle errors such as violating the uniqueness of ISBN or foreign key constraints
        print(f"Error updating the book: {e}")
    except Exception as e:
        # Handle any other unexpected errors
        print(f"An unexpected error occurred: {e}")
    finally:
        # Close the connection to the database
        conn.close()

#Example usage
update_book('123-4567890123', 'New Title', 2, 2024)

Book updated successfully.