# List

Use a 2-dimensional list to create and store the information of employees where each employee in the list consists of the following 

[Employee ID, Employee Name, Emloyee Type, Hours Worked, Hourly Rate, Location, Salary]

The default value of salary is 0 and we will develop the script to update this value based on the employee type, hours worked and hourly wage.

E.g.

employees = [

[1, John, full-time, 40, 15, "ON", 0],

[2, Jane, part-time, 20, 12, "ON", 0],

[3, Bob, full-time, 35, 16, "AB", 0]

]

In [ ]:
# Initial an empty employees list
employees = []

In [ ]:
# Using 1-dimension list to store the detail of each employee
# Employee ID, Employee Name, Emloyee Type, Hours Worked, Hourly Rate, Location, Salary
e1 = [1, "John", "full-time", 40, 15, "ON", 0]
e2 = [2, "Jane", "part-time", 20, 12, "ON", 0]
e3 = [3, "Bob", "full-time", 35, 16, "AB", 0]

In [ ]:
# Append e1 and e3 employees to the list

In [ ]:
# Print the list of employees

[[1, 'John', 'full-time', 40, 15, 'ON', 0], [3, 'Bob', 'full-time', 35, 16, 'AB', 0]]

In [ ]:
# Using insert method to insert e2 between e1 and e3 in the employees list

In [ ]:
# Print the list of employees

[[1, 'John', 'full-time', 40, 15, 'ON', 0], [2, 'Jane', 'part-time', 20, 12, 'ON', 0], [3, 'Bob', 'full-time', 35, 16, 'AB', 0]]

In [ ]:
# Define a function to check if an employee id is already exist, and return True if exists or False if not exists

In [ ]:
# Check if employee with id 1 exist
print(check_employee_exists(1))

True

In [ ]:
# Check if employee with id 99 exist

False

In [ ]:
# Alternatively, define a function to find employee and return the location(index) of the employee in the employees list. 
# If -1, employee not exist, otherwise, employee exists and employee location is return for further operations such as update, delete

In [ ]:
# Use find_employee function to check and return location of employee with id 3

2

In [ ]:
# Use find_employee function to check and return location of employee with id 99

-1

In [ ]:
# Add new employee, check if employee exists before adding
# [Employee ID, Employee Name, Emloyee Type, Hours Worked, Hourly Rate, Location, Salary ]
# First, get employee information from users

Enter Employee ID: 1
Enter Employee Name: Kelly
Enter Employee Type: full-time
Enter Employee Total Hours Worked: 20
Enter Employee Hourly Rate: 15
Enter Employee Location: AB

In [ ]:
# Using function check_employee_exists before adding employee
if check_employee_exists(employee_id):
  # if True print employee already exists
 
else:
  # if False, add employee with the above info, then print employee is successfully added

Employee with ID 1 already exists.

Update Employee Hours of Worked by Employee ID

In [ ]:
# Update an employee hours worked by employee id, check if employee exists using find_employee function before updating
# Get employee id from user input

Enter Employee ID to update: 1

In [ ]:
# Use find_employee function to get the location of the employee in the employees list and store the location in a variable called "index"

0

In [ ]:
# if index is not -1 (means that the employee exists), prompt input from users and update the employee's hours of worked
if index != -1:
  
else:
  # else, print employee does not exist

Enter updated hours of worked: 45

In [ ]:
# print employees to confirm the update

[[1, 'John', 'full-time', 45, 15, 'ON', 0],
 [2, 'Jane', 'part-time', 20, 12, 'ON', 0],
 [3, 'Bob', 'full-time', 35, 16, 'AB', 0]]

Remove/Delete Employee by Employee ID

In [ ]:
# Remove an employee by employee id, check if employee exists before removing
# Get employee id from user input

Enter Employee ID to delete: 99

In [ ]:
# Use find_employee function to get the location of the employee in the employees list and store the location in a variable called "index"

-1

In [ ]:
# if index is not -1 (means that the employee exists), delete employee using pop() method
if index != -1:

  #print employee list to confirm the employee has been remove

else:

Employee with ID 99 not exists.

Calculate Employee Salary

In [ ]:
# Define a function name calculate_salary() to calculate employee salary. If employee type is "Full-time", salary = hours_worked * hourly_rate * 2, if employee type is "Part-time", salary = hours_worked * hourly_rate

In [ ]:
# Iterate through the list of employee, using the calculate_salary() function to calculate and print the salary of each employee.
# [Employee ID, Employee Name, Emloyee Type, Hours Worked, Hourly Rate, Location, Salary ]

John's salary: $1350
Jane's salary: $240
Bob's salary: $1120

In [ ]:
# Print employee list to review the updates

Employee ID, Employee Name, Employee Type, Hours Worked, Hourly Rate, Location, Salary
1, John, full-time, 45, 15, ON, 1350
2, Jane, part-time, 20, 12, ON, 240
3, Bob, full-time, 35, 16, AB, 1120

# Dictionary

In [ ]:
# Add a dictionary to look up and display employee location
provinces = {
  "AB": "Alberta", 
  "BC": "British Columbia", 
  "MB": "Manitoba", 
  "NB": "New Brunswick",
  "NL": "Newfoundland and Labrador", 
  "NS": "Nova Scotia", 
  "NT": "Northwest Territories",
  "NU": "Nunavut", 
  "ON": "Ontario", 
  "PE": "Prince Edward Island", 
  "QC": "Quebec",
  "SK": "Saskatchewan", 
  "YT": "Yukon"
}

In [ ]:
# Using the key to access the value in the dict. E.g. use "ON" as the key
print(provinces["ON"])

Ontario

In [ ]:
# Iterate through the list of employee and look up in the provinces dict to display the full name of the provinces the employee located instead of the abbreviation.
# Employee ID, Employee Name, Emloyee Type, Hours Worked, Hourly Rate, Location, Salary
for employee in employees:

John is located in: Ontario
Jane is located in: Ontario
Bob is located in: Alberta